
:root{
    --primary-color: #00285f;
    --secundary-color:#f9f9f1;
    --button-radius:15px;
  }
  html {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
  
    }
  
  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: 'Ubuntu', sem serifa;
      text-decoration: none;
  
  }
  body{
      background-color: var(--primary-color);
  }
  header {
      position: fixed;
      z-index: 1000;
  }
  header .user{
      padding-top: 30px;
      padding-left: 20px;
  }
  
  header .user a{
      color: var(--secundary-color);
      font-size: 20px;
  }
  
  header .user a:hover{
      color: red;
  }
  .section-content{
      display: flex;
      justify-content: center;
      align-items: center; 
      flex-direction: column;
      height: 100vh;
  
  }
  .div-nomes{
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--secundary-color);
      flex-direction: column;
  }
  
  .div-nomes a{
      color: var(--secundary-color);
      font-size: 30px;
      margin: 20px;
      text-decoration: underline;
      }
  .div-nomes a:hover{
      text-decoration-color: red;
  }
  .div-nomes h1{
      margin-block-end: 20px;
  }
  main{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
  }
  
  .div-formulario{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 30px;
  }
  
  .section-form{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      width: 350px;
      gap: 30px;
  }
  
  .cadastro-horario{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  
  }
  
  .input-imagem{
      display: none;
  }
  
  .div-button, .div-button-prox,.div-inputs{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px;
      height: 30px;
      border-radius: var(--button-radius);
      background-color: var(--secundary-color);
      color: black;
      outline: none;
  }
   .div-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.div-formulario .div-button a .div-button-prox{
    border: none;
}
  .div-formulario .div-button a .div-button-prox:hover{
      mix-blend-mode:hard-light;
      cursor: pointer;
      background-color: var(--primary-color);
      color: var(--secundary-color);
  }
  .div-button option{
      text-align: center;
  }
  .cursor:hover{
      cursor: pointer;
  }
  label{
      display: flex;
      align-items: center;
      justify-content: center
  }
  input{
      outline: none;
      color: var(--secundary-color);
  }
  input::placeholder{
      position: absolute;
      top: 5px;
      left: 5px;
  }
  
  