
:root{
    --primary-color: #00285f;
    --secundary-color:#f9f9f1;
    --card-radius: 15px;
    --button-radius:7px;
    --shadow:12px 12px 10px rgba(0,0,0,0.25);
  }
  
  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 

  }

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Ubuntu', sem serifa;

}

 /* menu */

#menu-toggle {
    display: none;
}

.sidebar {
    position: fixed;
    width: 165px;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    background-color: var(--primary-color);
    transition: left 300ms;
}

.side-header {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 /10%);
    background-color: #22BAA0;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-head span {
    font-weight: 400;
}
.side-header img{
    width: 60px;
}
.side-content {
    height: calc(100vh - 60px);
    overflow: auto;
    left: -60px;
    
}

/* perfil */

.profile {
    text-align: center;
    padding: 2rem 0rem;
}

.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    background-size: cover;
}
.profile-img {
    height: 80px;
    width: 80px;
    display: inline-block;
    margin: 0 auto .5rem auto;
    border: 3px solid #899DC1;
}

.profile-img img{
    width: 100%;
    border-radius: 50%;

}
.profile h4 {
    color:var(--secundary-color);
    font-weight: 500;
}

.profile small {
    color: #899DC1;
    font-weight: 600;
}

.side-menu ul {
    text-align: center;
}

.side-menu a {
    display: block;
    padding: 1.2rem 0rem;
}

.side-menu a span, .side-menu a small {
    color: var(--secundary-color);
}

.side-menu ul li a small:hover{
   color: red;
}
 /* menu hamburger */
#menu-toggle:checked ~ .sidebar {
    width: 60px;
}

#menu-toggle:checked ~ .sidebar .side-header span {
    display: none;
}

#menu-toggle:checked ~ .main-content {
    margin-left: 60px;
    width: calc(100% - 60px);
    
}

#menu-toggle:checked ~ .main-content header {
    left: 60px;
}

#menu-toggle:checked ~ .sidebar .profile,
#menu-toggle:checked ~ .sidebar .side-menu a small,#menu-toggle:checked ~ .side-content .side-menu {
    display: none;
}

#menu-toggle:checked ~ .sidebar .side-menu a span {
    font-size: 1.3rem;
}

.main-content {
    margin-left: 165px;
    width: calc(100% - 165px);
    transition: margin-left 300ms;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    left: 165px;
    z-index: 100;
    height: 80px;
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 /10%);
    background-color: var(--primary-color);
    transition: left 300ms;
}

.header-content, .header-menu {
    display: flex;
    align-items: center;
}

.header-content {
    justify-content: space-between;
    padding: 0rem 1rem;
    color: var(--secundary-color);
}

.header-content label:first-child span {
    font-size: 1.3rem;
}

.header-content label {
    cursor: pointer;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
}
.user a{
    color: var(--secundary-color);
}
.user a:hover {
    color: red;
}
.user div, .client-img {
    height: 40px;
    width: 40px;
    margin-right: 1rem;
}

.user span:last-child {
    display: inline-block;
    margin-left: .3rem;
    font-size: .8rem;
}

main {
    margin-top: 60px;
}

.page-header {
    padding: 1.3rem 1rem;
    background-color: var(--secundary-color);
    border-bottom: 1px solid var(--secundary-color);
    margin-top: 80px;
    
}

.page-header h1, .page-header small {
    color: var(--primary-color);
}

.page-content {
    padding: 1.3rem 1rem;
    background:#eeeeee;
}

.analytics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
}
 /* cade de progressão */
.card {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
    background-color: var(--secundary-color);
    padding: 1rem;
    border-radius: 3px;
}

.card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-head h2 {
    color: #333;
    font-size: 1.8rem;
    font-weight: 500;
}

.card-head span {
    font-size: 3.2rem;
    color: grey;
}

.card-progress small {
    color: #777;
    font-size: .8rem;
    font-weight: 600;
}

.card-indicator {
    margin: .7rem 0rem;
    height: 10px;
    border-radius: 4px;
    background-color: var(--secundary-color);
    overflow: hidden;
}

.indicator {
    height: 10px;
    border-radius: 4px;
}

.indicator.two {
    background-color: #22baa0;
}

.indicator.four {
    background-color: #f25656;
}
 /* registros */
.registros {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
    background: var(--secundary-color);
    border-radius: 3px;
}

.registro-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add, .browse {
    display: flex;
    align-items: center;
}

.add span {
    display: inline-block;
    margin-right: .6rem;
    font-size: .9rem;
    color: #666;
}

input, button, select {
    outline: none;
}

.add select, .browse input, .browse select {
    height: 35px;
    border: 1px solid #b0b0b0;
    border-radius: 3px;
    display: inline-block;
    width: 75px;
    padding: 0rem .5rem;
    margin-right: .8rem;
    color: #666;
}

.add button {
    background-color: var(--primary-color);
    color: var(--secundary-color);
    height: 37px;
    border-radius: 4px;
    padding: 0rem 1rem;
    border: none;
    font-weight: 600;
}

.browse input {
    width: 100px;
}

.browse select {
    width: 100px;
}

.table-responsive {
    width: 100%;
    overflow: auto;
}

 /* cards */
.section-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.section-card hr{
        width: 100%;
        background-color: var(--primary-color);
        margin-top: 50px;
    
}
.section-card .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--button-radius);
    margin-top: 50px;
}
.section-card .buttons .button-alterar ,.section-card .buttons .button-deletar {
    width: 150px;
    height: 30px;
    border-radius: var(--button-radius);
    margin-left: 10px;
    margin-right: 10px;

}
.section-card .buttons .button-alterar a,.section-card .buttons .button-deletar a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--secundary-color);
    text-decoration: none;
    font-size: 20px;
}
.section-card .buttons .button-alterar{
    background-color:#00ff00;
}
.section-card .buttons .button-deletar{
    background-color: #ff0000;
}

.section-card .buttons .button-alterar:hover,.section-card .buttons .button-deletar:hover{
    mix-blend-mode: color-burn;
}

.section-card .card-container{
    width: 950px;
    height: 470px;
    background-color: var(--secundary-color);
    border-radius: 6px;
    box-shadow: 0 5px 10px 1px rgba(0,0,0,.3);
    margin-top: 60px;
    
}
 .section-card .card-container:hover , .section-card .card-container:hover .button{
    transition: .3s ease;
    background-color: var(--primary-color);
    color: var(--secundary-color);
}

.section-card .card-container:hover .btn,.section-card .card-container:hover h4, .section-card .card-container:hover .button h3,
 .section-card .card-container:hover .button p{
    transition: .4s ease;
    color: var(--secundary-color);

}
.section-card .card-container:hover .button .div-ver-mais .div-button-ver-mais,.section-card .card-container:hover .button .div-ver-mais .div-button-ver-mais a{
    background-color: var(--secundary-color);
    color: var(--primary-color);
    border-radius: var(--button-radius);

}
.section-card .card-container .top{
    height: 100px;
    border-radius: 6px;
    background-color:  var(--primary-color);
    display: flex;
    justify-content: center;

}
  /* imagem*/
.section-card .card-container .top .image-container{
    background-color: var(--secundary-color);
    width: 150px;
    height: 150px;
    padding: 5px;
    border-radius: 50%;
    transition: .1s ease;
    margin-top: 30px;
    transition: .5s ease;

}
.section-card .card-container .top .image-container img{
    background-color: var(--secundary-color);
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.section-card .card-container .top .image-container img:hover{
    transform: scale(1.0);
    margin-bottom: 40px;

} 
/* endereço e horario */
 .section-card .card-container .button{
    background-color: var(--secundary-color);
    padding: 20px;
    padding-top: 60px;
    text-align: center;
}

   /* nome */
  .section-card .card-container .button h3{
    line-height: .4;
    font-size: 1.6rem;
    color: rgba(0, 0,0, .9);
    margin-bottom: 40px;
    margin-top: 55px;

}
    /* hórario e endereço */

 .section-card .card-container .button p{
        color: rgba(0, 0,0, .7);
        margin-top: 50px;
        font-size: 20px;
    
}

  /* button ver mais */
 .section-card .card-container .button .div-ver-mais{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.section-card .card-container .button .div-button-ver-mais:hover{
    background-color: var(--secundary-color);
    opacity: 100%;
    cursor: pointer;
}

 .section-card .card-container .button .div-ver-mais .div-button-ver-mais{

    width: 150px;
    height: 30px;
    border-radius: var(--button-radius);
    background-color: var(--primary-color);
}
 .section-card .card-container .button .div-ver-mais .div-button-ver-mais-hospitais{   
    margin-top: 35px;
   
   }

 .section-card .card-container .button .div-ver-mais .div-button-ver-mais a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--secundary-color);
    text-decoration: none;
    font-size: 20px;
}

/*buttons do catálogo*/
.div-buttons-catalogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.div-buttons-catalogo .buuton-prox-ant{
    
    width: 147px;
    height: 42px;
    background-color: var(--primary-color);
    border-radius: var(--button-radius);
    margin-left: 10px;
    margin-right: 10px;
}

.div-buttons-catalogo .buuton-prox-ant  a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--secundary-color);
    width: 100%;
    height: 100%;
}
.div-buttons-catalogo .button-catalogo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secundary-color);
    width: 56px;
    height: 42px;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    
}

.div-buttons-catalogo .button-catalogo a {
    display: flex;
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-buttons-catalogo .buuton-prox-ant:hover{
    cursor: pointer;
    mix-blend-mode: hard-light;
    opacity: 100%;
}
.div-buttons-catalogo .button-catalogo a:hover{
    background-color: gray;
    
  }
/* rodapé */
.footer-distributed{
	background: var(--primary-color);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 99%;
	text-align: left;
	padding: 55px 50px;
    margin-left: 1%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align:middle
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;

}
.footer-distributed .footer-left p{
 color: var(--secundary-color);
    
}

/*  logo */

.footer-distributed h3{
	color:  var(--secundary-color);
    margin-bottom: 5px;
}


/* Footer links */

.footer-distributed .footer-links{
	color:  var(--secundary-color);
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	color:  inherit;
}


/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}


.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 23%;
}

.footer-distributed .footer-right p{
	color: var(--secundary-color);
    margin-top: 20px;

}

footer img{
    width: 100px;
    margin-right: 25px;
    margin-left: 25px;
}
.sidebar {
    left: -165px;
    z-index: 90;
}

header {
    left: 0;
    width: 100%;
}

.main-content {
    margin-left: 0;
    width: 100%;
}

.page-header {
  margin-top: 70px;
}
#menu-toggle:checked ~ .sidebar {
    left: 0;
    width: 165px;

}

#menu-toggle:checked ~ .sidebar .side-header span {
    display: inline-block;
}

#menu-toggle:checked ~ .sidebar .profile,
#menu-toggle:checked ~ .sidebar .side-menu a small {
    display: block;
}

#menu-toggle:checked ~ .sidebar .side-menu a span {
    font-size: 1.7rem;
}

#menu-toggle:checked ~ .main-content header {
    left: 0px;
}
@media only screen and (max-width: 1200px) {
    .analytics {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .analytics {
        grid-template-columns: 100%;
    }
    
    .sidebar {
        left: -165px;
        z-index: 90;
    }
    
    header {
        left: 0;
        width: 100%;
    }
    
    .main-content {
        margin-left: 0;
        width: 100%;
    }

    .page-header {
      margin-top: 70px;
    }
    #menu-toggle:checked ~ .sidebar {
        left: 0;
        width: 165px;

    }

    #menu-toggle:checked ~ .sidebar .side-header span {
        display: inline-block;
    }

    #menu-toggle:checked ~ .sidebar .profile,
    #menu-toggle:checked ~ .sidebar .side-menu a small {
        display: block;
    }

    #menu-toggle:checked ~ .sidebar .side-menu a span {
        font-size: 1.7rem;
    }
    
    #menu-toggle:checked ~ .main-content header {
        left: 0px;
    }
   
     /* card */
     .section-card{
        flex-direction:row;
     }
     .section-card hr {
            margin-top: 20px;
            margin-bottom: -2px;
     }
         .section-card  .buttons{
            display: flex;
            margin-top: 15px;
            margin-bottom: 0px;
        }
        .section-card .card-container .buttons .button-alterar ,.section-card .buttons .button-deletar {
            width: 120px;
            height: 30px;
            border-radius: var(--button-radius);
            margin-left: 10px;
            margin-right: 10px;
        
        }
        .section-card .buttons .button-alterar a,.section-card .buttons .button-deletar a{
            font-size: 15px;
        }
        .section-card .card-container{
            
                width: 300px;
                height: 400px;
                background-color: var(--secundary-color);
                border-radius: 6px;
                box-shadow: 0 1px 5px 1px rgba(0, 0,0, .3);
                margin: 30px;
            
            }
         /* nome */
        .section-card .card-container .button h3{
                font-size: 15px;
                margin-bottom: 40px;
                margin-top: 30px;
            }
                /* endereço e horario */
        
        .section-card  .card-container  .button{
                    background-color: var(--secundary-color);
                    padding: 20px;
                    padding-top: 60px;
                    text-align: center;
            }
        .section-card   .card-container  .button .btn-margin{
                    margin-top: -40px;
                    
            }
            .section-card  .card-container  .button p{
                    margin: 35px;
                    font-size: 14px;
            
            }
                /* imagem*/
        .section-card  .card-container .top  .image-container{
                    width: 100px;
                    height: 100px;
                    margin-top: 20px;
            
            }
            .section-card  .card-container .top{
                    height: 60px;
            
            }
                /* button ver mais */
                
            .card-container .button  .div-ver-mais .div-button-ver-mais{   
                    width: 120px;
                    height: 25px;
            
            }
            
            .section-card  .card-container .button  .div-ver-mais .div-button-ver-mais a {
                    font-size: 15px;
            }
                /* buttons do catalógo*/
                .div-buttons-catalogo .buuton-prox-ant{
                    width: 73px;
                    height: 24px;
            
                }
                .div-buttons-catalogo .buuton-prox-ant a{
                    font-size: 12px
                }
                .div-buttons-catalogo .button-catalogo {
                    width: 28px;
                    height: 24px;
                }
            /* Rodapé */
            .footer-distributed{
                margin-left: 0%;
                width: 100%;
            }
            .footer-distributed .footer-left,
            .footer-distributed .footer-center,
            .footer-distributed .footer-right{
                display: block;
                width: 100%;
                margin-bottom: 100px;
                text-align: center;
            }
            
        }
        