
:root{
  --primary-color: #00285f;
  --secundary-color:#f9f9f1;
  --card-radius: 15px;
  --button-radius:7px;
  --shadow:12px 12px 10px rgba(0,0,0,0.25);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sem serifa;
}
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
  }
body{
    background-color: #eeeeee;
    
} 

/* cabeçalho */
.container-menu{
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 6rem;
    background-color: #00285f;
    z-index: 1000;
}
 /* button de login */

 .button-entrar{
    width: 100px;
    height: 20px;
    background-color: var(--secundary-color);
    border-radius: var(--button-radius);
}
 .button-entrar a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--primary-color);
    
}
.button-entrar:hover{
    mix-blend-mode: hard-light;
    opacity: 100%;
    cursor: pointer;   
}
.container-menu a{
    text-decoration: none;
}

.container-menu img{
    width: 100px;
}
.container-menu nav ul{
    display: flex;
}

.container-menu nav ul li{
    list-style: none;
}
.container-menu  nav ul li a{
    text-decoration: none;
    color: var(--secundary-color);
    margin: 25px;
}

.container-menu nav ul li a:hover{
    text-decoration: underline;
}

/* principal */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-titulo h1{
    color: var(--primary-color);
    text-align: center;
    margin-top: 130px;
    font-size: 35px;
}
.section-titulo h2 , p{
    text-align: justify;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 25px;
}
/* informações */ 
.section-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.div-info{
    width: 800px;
    height: 300px;
    border-radius: var(--card-radius);
    text-align: justify;
    padding: 15px;
    margin-top: 40px;

}
.div-info h3{
    text-align: center;
}
.div-center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-hospital{
   
    background-color: #ffef00;
}

.div-clinica{
  
    background-color: #abee93;
}

.div-especialidades{
    background-color: #00b4fc;
    margin-bottom: 100px;

}


/* rodapé */

footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: var(--primary-color);
    color: var(--secundary-color);
}


footer img{
    width: 100px;
    margin-right: 25px;
    margin-left: 25px;
}

footer .div-email p a{
    color: var(--secundary-color);
    text-decoration: none;
}
#btn-mobile{
    display: none;

}

/*------------------RESPONSIVIDADE------------------*/
@media (max-width: 768px){
    
 
        /* header mobile */
     .container-menu{
        justify-content: space-between;
      }    
      .container-menu  img{
        width: 80px;
        margin-left: 20px;
    }
     .menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100vw;
        top: 70px;
        right: 0px;
        background-color: var(--primary-color);
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow:hidden;
     }
 
     #nav.active .menu{
        height: 100vh;
        visibility: visible;
        overflow-y:auto;
 
    }
    #nav.active .menu li{
        margin-top: 40px;
    }
    .menu li a{
        padding: 1rem 0;
    }
    #nav.active .menu li a:hover{
        color: crimson;
   
    }
 
    #btn-mobile{
         display: flex;
         padding: 0.5rem 1rem;
        font-size: 1rem;
        cursor: pointer;
        background-color: var(--secundary-color);
        margin-right: 30px;
 
    }
    .hamburger{
        border-top:2px solid var(--primary-color);
        width: 20px;
    }
 
    .hamburger::after,.hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: var(--primary-color);
        margin-top: 5px;
        position: relative;
     }

        #nav.active .hamburger{
            border-top-color: transparent;
    }
        #nav.active .hamburger::before{
        transform: rotate(135deg);
    }

    #nav.active .hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
}
        /* button de login */

        .button-entrar{
            width: 80px;
            height: 30px;
            margin-left: 15px;
            margin-top: 30px;
        }
        .button-entrar a{
            
        font-size: 12px;
            
            }
        /* informações */
        .div-info{
            width: 320px;
            height: 250px;
        
        }
        /* Rodapé */
        footer img{
            width: 70px;
        }

        footer .div-email p{
            font-size: 10px;
        }
        }

        @media (max-width: 330px){
            /* Rodapé */
            footer img{
                width: 40px;
            }
            footer .div-email p{
                font-size: 10px;
        }
        .div-info{
            width: 90%;
            height: 300px;
           
        }
    }

    @media (min-width:768px) and  (max-width:992px){
          /* header mobile */
     .container-menu{
        justify-content: space-between;
      }    
      .container-menu  img{
        width: 80px;
        margin-left: 20px;
    }
     .menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100vw;
        top: 70px;
        right: 0px;
        background-color: var(--primary-color);
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow:hidden;
     }
 
     #nav.active .menu{
        height: 100vh;
        visibility: visible;
        overflow-y:auto;
 
    }
    #nav.active .menu li{
        margin-top: 40px;
    }
    .menu li a{
        padding: 1rem 0;
    }
    #nav.active .menu li a:hover{
        color: crimson;
   
    }
 
    #btn-mobile{
         display: flex;
         padding: 0.5rem 1rem;
        font-size: 1rem;
        cursor: pointer;
        background-color: var(--secundary-color);
        margin-right: 30px;
 
    }
    .hamburger{
        border-top:2px solid var(--primary-color);
        width: 20px;
    }
 
    .hamburger::after,.hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: var(--primary-color);
        margin-top: 5px;
        position: relative;
     }

        #nav.active .hamburger{
            border-top-color: transparent;
    }
        #nav.active .hamburger::before{
        transform: rotate(135deg);
    }

    #nav.active .hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    
    }   
        /* button de login */

        .button-entrar{
            width: 80px;
            height: 30px;
            margin-left: 15px;
            margin-top: 30px;
        }
        .button-entrar a{
            
        font-size: 12px;
            
            }

          /* informações */
        .div-info{
            width: 80%;
            height: 250px;
        
        }
    }