
:root{
  --primary-color: #00285f;
  --secundary-color:#f9f9f1;
  --card-radius: 15px;
  --button-radius:7px;
  --shadow:12px 12px 10px rgba(0,0,0,0.25);
}
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sem serifa;

}
body{
    background-color: #eeeeee;
    
} 
/* cabeçalho */
.container-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 6rem;
    background-color:var(--primary-color);
    z-index: 1000;
}

 /* button de login */

 .button-entrar{
    width: 100px;
    height: 20px;
    background-color: var(--secundary-color);
    border-radius: var(--button-radius);
}
 .button-entrar a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--primary-color);
    
}
.button-entrar:hover{
    mix-blend-mode: hard-light;
    opacity: 100%;
    cursor: pointer;   
}
.container-menu img{
    width: 100px;
}
.container-menu a{
    text-decoration: none;
}

.section-clinica-hospital{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: var(--card-radius);
    box-shadow: var(--shadow);
    margin-top: 20px;
}
.div-clinica-hospital h1{
    color: var(--secundary-color);
}
.container-menu h1{
    color: var(--secundary-color);
}
.container-menu nav ul{
    display: flex;
}

.container-menu nav ul li{
    list-style: none;
}
.container-menu  nav ul li a{
    text-decoration: none;
    color: var(--secundary-color);
    margin: 25px;
}

.container-menu nav ul li a:hover{
    text-decoration: underline;
}
/* parte principal*/
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/* atalhos */
.top-atalhos{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 120px;
}

.top-atalhos ul{
    display: flex;
    margin-left: 20px;

    
}
.top-atalhos li{
    list-style: none;
}
.top-atalhos li a{
    text-decoration: none;
    margin: 5px;
    color: var(--primary-color);
    font-size: 20px;
}
.top-atalhos li a:hover{
    text-decoration: underline;
    
}


 /* section nome da  clinica */

.section-clinica-hospital{
    flex-direction: column;
    width: 700px;
    height: 408px;
   }
.div-clinica-hospital{
    margin-left: 0px;
    margin-bottom: 0px;
   }

.div-clinica-hospital h1{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
   }

   
.img-clinica-hospital img{
    width: 240px;
    height: 240px;
    margin-right: 0px;
    margin-bottom: 30px;
   }

   /* section informações */
.section-informações{
    width: 93%;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
 
 }
 /* card infromações*/
.card-container{
    
    width: 930px;
    height: 450px;
    background-color: var(--secundary-color);
    border-radius: 6px;
    box-shadow: 0 1px 5px 1px rgba(0, 0,0, .3);
    margin-bottom: 100px;
    margin-top: 50px;
    border-radius: 6px;

}
/*.card-container:hover , .card-container:hover .button{
    transition: .3s ease;
    background-color:  var(--primary-color);
    color: var(--secundary-color);
}

.card-container:hover .btn, .card-container:hover h4,.card-container:hover h3,.card-container:hover p {
    transition: .4s ease;
    color: var(--secundary-color);

}
.card-container:hover .button .div-ver-mais .div-button-ver-mais,.card-container:hover .button .div-ver-mais .div-button-ver-mais a{
    background-color: var(--secundary-color);
    color: var(--primary-color);
    border-radius: var(--button-radius);


}*/
.top{
    height: 100px;
    border-radius: 6px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;

}
  /* imagem*/
.image-container{
    background-color:var(--secundary-color);
    width: 150px;
    height: 150px;
    padding: 5px;
    border-radius: 50%;
    transition: .1s ease;
    margin-top: 30px;
    transition: .5s ease;

}
.image-container img{
    background-color: var(--secundary-color);
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.image-container img:hover{
    transform: scale(1.0);
    margin-bottom: 40px;

} 

.but
ton{
    background-color: var(--secundary-color);
    padding: 20px;
    padding-top: 60px;
    text-align: center;
}


.btn{
    background: none;
    color: var(--primary-color);
    font-size: 0.9rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 30px;
}

   /* nome */
   .button h3{
    line-height: .4;
    font-size: 1.6rem;
    color: rgba(0, 0,0, .9);
    margin-bottom: 40px;
    margin-top: 55px;

}
    /*endereço */

    .button p{
        color: rgba(0, 0,0, .7);
        margin-top: 50px;
        font-size: 20px;
    
    }
    /* atalhos */
 hr{
    width: 100%;
    margin-top: 50px;
}
.div-atalhos{
    margin-top: 40px;
}
.div-atalhos ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 15px;
    
   
   }
 .div-atalhos li a{
    margin: 15px;
    text-decoration: none;
    color: black;
   
   }

   .div-atalhos li a:hover{
    text-decoration: underline;
    text-decoration-color: red;
   
   }

 /* horario */
 .section-horario{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.horario{
    width: 930px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    background-color: var(--secundary-color);
    border-radius: 6px;
    box-shadow: 0 1px 5px 1px rgba(0, 0,0, .3);
}

.div-img img{
    width: 200px;
    height: 200px;
}
.dias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.dia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
    height: 150px;
    background-color:  var(--primary-color);
    margin: 10px;
    color: var(--secundary-color);
    box-shadow: 0 1px 5px 1px rgba(0, 0,0, .3);
    border-radius: 15px;

}
.dia h1{
    position: relative;
    text-align: center;
}
.dia p{
    position: relative;
    display: flex;
    justify-content: center;
    top: 10px;
    font-size: 14px;
}
.dia:hover{
    mix-blend-mode: hard-light;
    opacity: 100%;
    cursor: pointer;
    
}
 /* sobre */
.sobre-nos{
    display: flex;
    flex-direction: column;
    width: 930px;
    height: 350px;
    background-color: var(--secundary-color);
    margin: 60px;
    box-shadow:5px 5px 5px rgba(0,0,0,0.25); 
    justify-content: space-between;

}

.sobre-nos h1{
   text-align: center;
   margin-top: 15px;
   padding: 5px;
   font-size: 30px;
   
}
.div-sobre-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 280px;
    padding: 20px;
}
.div-sobre-texto p{
    text-align: justify;
    font-size: 25px;

}
/* contato */
.contact-info{
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }

  .card{
    background-color: var(--primary-color);
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20px);
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--secundary-color);
    cursor: pointer;
  }

  .card-icon{
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s linear;
    filter:invert(1);
  }
 
  .card:hover .card-icon{
    transform: scale(1.3);
  }
 .card h4{
    margin-bottom: 10px;
 }
  .card p{
    margin-top: 25px;
    font-weight: 500;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
  }

  .card:hover p{
    max-height: 40px;
    opacity: 1;
  }

/* button  especialidades */

.button-esp{
    display: block;
    margin: 20px auto;
    color: var(--secundary-color);
    border: 0;
    cursor: pointer;
    padding: 6px 10px;
    width: 150px;
    height: 38px;
    border-radius: var(--button-radius);
    background-color: var(--primary-color);
  }

  .popup-wrapper{
    display: none;
    
   
  }
  .popup{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: var(--secundary-color);
    position: relative;
    width: 400px;
    height: 200px;
    border-radius: var(--card-radius);
    box-shadow:5px 5px 5px rgba(0,0,0,0.25); 

  }
  
  .popup-close{
    position: absolute;
    top:5px;
    right: 10px;
    cursor: pointer;
  }

/* mapa */
.div-mapa{
    position: relative;
    margin-top: 50px;
    width: 50%;
    height: 300px;
    margin-bottom: 40px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    z-index: 0;
}

/* Rodapé */

.footer-distributed{
	background: var(--primary-color);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align:middle
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;

}
.footer-distributed .footer-left p{
 color: var(--secundary-color);
    
}

/*  logo */

.footer-distributed h3{
	color:  var(--secundary-color);
    margin-bottom: 5px;
}


/* Footer links */

.footer-distributed .footer-links{
	color:  var(--secundary-color);
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	color:  inherit;
}


/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}



.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}


.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 23%;
}

.footer-distributed .footer-right p{
	color: var(--secundary-color);
    margin-top: 20px;
    text-align: justify;
}

footer img{
    width: 100px;
    margin-right: 25px;
    margin-left: 25px;
}
#btn-mobile{
    display: none;

}
/*------------------RESPONSIVIDADE------------------*/

@media(max-width:768px){
    
    
     /* header mobile */
     .container-menu{
        justify-content: space-between;
      }    
      .container-menu  img{
        width: 70px;
        margin-left: 20px;
    }
     .menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100vw;
        top: 70px;
        right: 0px;
        background-color: var(--primary-color);
        z-index: 1000000;
        height: 0px;
        visibility: hidden;
        overflow:hidden;
     }
 
     #nav.active .menu{
        height: 100vh;
        visibility: visible;
        overflow-y:auto;
 
    }
    #nav.active .menu li{
        margin-top: 40px;
    }
    .menu li a{
        padding: 1rem 0;
    }
    #nav.active .menu li a:hover{
        color: crimson;
   
    }
 
    #btn-mobile{
         display: flex;
         padding: 0.5rem 1rem;
         font-size: 1rem;
         cursor: pointer;
         background-color: var(--secundary-color);
         margin-right: 30px;
 
    }
    .hamburger{
        border-top:2px solid var(--primary-color);
        width: 20px;
    }
 
    .hamburger::after,.hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: var(--primary-color);
        margin-top: 5px;
        position: relative;
     }

     #nav.active .hamburger{
        border-top-color: transparent;
     }
     #nav.active .hamburger::before{
        transform: rotate(135deg);
     }

    #nav.active .hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
        }
    /* button de login */

    .button-entrar{
        width: 80px;
        height: 30px;
        margin-left: 15px;
        margin-top: 30px;
    }
    .button-entrar a{
        
    font-size: 12px;
        
        }
        
        /* atalhos */

    .top-atalhos{
        
        justify-content: center;
        }

    .top-atalhos ul{
            margin-left: 0px;
        }
    .top-atalhos li a{
            font-size: 18px;
        }
    .div-mapa{
        width: 90%;
        position: relative;
        }
    .section-clinica-hospital{
        flex-direction: column;
        width: 290px;
         height: 308px;
     }
     
    /*card */
    
    .card-container{
        width: 100%;
    }

    .div-atalhos li a{
        font-size: 12px;
    }
    
    .div-atalhos li a:hover{
        text-decoration: underline;
    }

    /* nome */
    .button h3{
    font-size: 20px;

    }
    /* endereço */

    .button p{
        color: rgba(0, 0,0, .7);
        margin-top: 50px;
        font-size: 16px;
    }

    .image-container{
    width: 130px;
    height: 130px;
    }
    /* horario */
    .horario{
        width: 100%;
        height: 450px;
    }
    .horario .div-img img{
        width: 130px;
        height: 130px;
    }


    .dia{
        position: relative;
        width: 90px;
        height: 90px;
        bottom: 10px;

    }
    .dia summary{
        font-size: 13px;
    }
    .dia p{
        font-size: 13px;
    }
    
        /* sobre */
    .sobre-nos h1{
        font-size: 25px;
    }
    .div-sobre-texto p{
        font-size: 13px;

    }

    .sobre-nos{
        width: 100%;
        height: 250px;
        margin-top: 40px;
    }

    /* contatos*/
    .contact-info{
        flex-direction: column;
    }
    .card{
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
    }
     /*  button especialidades */

     .popup{
        width: 300px;
     }
    /* Rodapé */

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    
    }
    @media(max-width:355px){

        /* section nome da  clinica */

        .section-clinica-hospital{
            width: 240px;
        }
        /* card */
        .div-atalhos li a{
            font-size: 7px;
        }
                /* horario */
        .horario{
            height: 500px;
        }
        .horario .div-img img{
            width: 110px;
            height: 110px;
        }


        .dia{
            width: 70px;
            height: 70px;

        }
       
        .dia p{
            font-size: 9px;
        }
         /*  button especialidades */

        .popup{
        width: 250px;
        }
        
    }

   
    @media (min-width:768px) and  (max-width:992px){
    /* header mobile */
    .container-menu{
        justify-content: space-between;
    }    
    .container-menu  img{
        width: 70px;
        margin-left: 20px;
    }
    .menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100vw;
        top: 70px;
        right: 0px;
        background-color: var(--primary-color);
        z-index: 1000000;
        height: 0px;
        visibility: hidden;
        overflow:hidden;
    }

    #nav.active .menu{
        height: 100vh;
        visibility: visible;
        overflow-y:auto;

    }
    #nav.active .menu li{
        margin-top: 40px;
    }
    .menu li a{
        padding: 1rem 0;
    }
    #nav.active .menu li a:hover{
        color: crimson;

    }

    #btn-mobile{
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        cursor: pointer;
        background-color: var(--secundary-color);
        margin-right: 30px;

    }
    .hamburger{
        border-top:2px solid var(--primary-color);
        width: 20px;
    }

    .hamburger::after,.hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: var(--primary-color);
        margin-top: 5px;
        position: relative;
    }

    #nav.active .hamburger{
        border-top-color: transparent;
    }
    #nav.active .hamburger::before{
        transform: rotate(135deg);
    }

    #nav.active .hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
        }
    .button-entrar{
        width: 80px;
        height: 30px;
        margin-left: 15px;
        margin-top: 30px;
    }
     /* atalhos */

     .top-atalhos{
        
        justify-content: center;
        }

    .card-container{
        width: 700px;

    }
    /* section nome da clinica */

    .section-clinica-hospital{
        justify-content: center;
        width: 750px;
        height: 400px;
    }
    .div-clinica-hospital h1{
        margin-top: 50px;
        text-align: center;
        font-size: 40px;
       }
    
       
    .img-clinica-hospital img{
        width: 230px;
        height: 230px;
       }
    /* horario */
    .horario{
        width: 700px;
        height: 450px;
       }
    /* sobre */
    .sobre-nos{
        width: 700px;
    }
    /* contato */
    .card{

        width: 200px;
    }
    .card-icon{
        width: 100px;
    }
}
    